<div class="header flex f-space-between f-align-center | mb-10">
    <h5 class="heading-h4">
        Active Visitors
    </h5>

</div>

<div class="chart-wrapper flex f-space-between f-align-center f-gap f-column" style="--gap-spacer: 20px">
    <highcharts-chart [Highcharts]="highcharts" [options]="pieChartOptions"
        style="width: 200px; height: 250px; display: block;">
    </highcharts-chart>
    <div class="status-list">
        <div class="status-item" *ngFor="let item of pieChartData">
            <div class="status">
                <div class="status-circle" [style.background-color]="item.color"></div>
                <div class="paragraph-body paragraph-body-light">{{item.name}}</div>
            </div>
            <div class="amount heading-h6-regular">{{item.amount}}%</div>
        </div>
    </div>
</div>