.status-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .total-amount {
        display: flex;
        justify-content: space-between;
        padding-left: 18px;
        padding-bottom: 10px;
    }

    .status-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;

        .status {
          display: flex;
          gap: 10px;
          align-items: center;
        }
    }

    .status-circle {
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
  }