<div class="header | flex f-space-between f-align-center mb-25">
    <h5 class="heading-h4">
        Top Bookings
    </h5>
</div>
<div class="table-wrapper">
    <div class="table-header | flex f-space-between f-align-center mb-20">
        <span class="paragraph-body-light">
            Programs
        </span>
        <span class="paragraph-body-light">
            Bookings
        </span>
    </div>
    <div class="dash-separated-table | flex  f-gap f-column ">
        <div *ngFor="let item of items; index as i" class="item-row">
            <span class="item-name | paragraph-body">{{i + 1}}.
                <span class="paragraph-body-primary">{{ item.name }}</span></span>
            <span class="item-dashes"></span>
            <span class="item-number | paragraph-body">{{ item.amount }}</span>
        </div>
    </div>
</div>