<div class="header flex f-space-between f-align-center mb-5">
    <span class="flex f-gap f-align-center">
        <h5 class="heading-h4">
            Traffic
        </h5>
        <app-text-filter [filterOptions]="filterOptions"></app-text-filter>
    </span>
    <span>
        <!-- TODO: Add Filter -->
    </span>

</div>
<div>
    <highcharts-chart
       [Highcharts] = "highcharts" 
       [options] = "chartOptions" 
       style = "width: 100%; height: 100%; display: block;">
    </highcharts-chart>
 </div>