<div class="header flex f-space-between f-align-center | mb-10">
    <h5 class="heading-h4">
        Active Entities
    </h5>

</div>

<div class="chart-wrapper flex f-space-between f-align-center f-gap h-100" style="--gap-spacer: 20px">
    <div>
        <highcharts-chart [Highcharts]="highcharts" [options]="pieChartOptions"
            style="width: 182px; height: 182px; display: block;">
        </highcharts-chart>
    </div>
    <div class="status-list">
        <div class="total-amount | heading-h5">Total <span>{{ getTotalAmount()}}</span></div>
        <div class="status-item" *ngFor="let item of pieChartData">
            <div class="status">
                <div class="status-circle" [style.background-color]="item.color"></div>
                <div class="paragraph-body paragraph-body-light">{{item.name}}</div>
            </div>
            <div class="amount heading-h6-regular">{{item.amount}}</div>
        </div>
    </div>
</div>