<h4 class="heading-h4-header">
    Bookings
</h4>

<div class="demographics-wrapper">
    <div class="demographics-row-wrapper fourth-to-sixth">
        <app-active-entities></app-active-entities>
        <app-bookings-over-periods></app-bookings-over-periods>
    </div>
    <div class="demographics-row-wrapper sixth-to-fourth">
        <app-top-bookings></app-top-bookings>
        <app-top-sports></app-top-sports>
    </div>
    <div class="demographics-row-wrapper">
        <app-top-sports-places></app-top-sports-places>
        <app-top-pros></app-top-pros>
    </div>
</div>