:root {
  --clr-accent-600: hsl(298, 19%, 28%);
  --clr-accent-500: hsl(296, 13%, 39%);
  --clr-accent-300: hsl(295, 10%, 59%);
  --clr-accent-200: hsl(295, 10%, 65%);
  --clr-accent-100: hsl(13, 100%, 96%);

  --clr-primary-400: hsl(200, 4%, 16%);

  --clr-neutral-900: hsl(232, 12%, 13%);
  --clr-neutral-800: hsl(300, 13%, 6%);
  --clr-neutral-600: hsl(0, 0%, 36%);
  --clr-neutral-500: hsl(0, 0%, 46%);
  --clr-neutral-200: hsl(0, 0%, 97%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --clr-base-white: #ffffff;
  --clr-text-medium: #34405e;

  --clr-brand-primary-5: #E6F7FD;
  --clr-brand-primary-110: #0085c8;
  --clr-brand-primary-120: #0064A7;

  --clr-brand-secondary: #fafaff;
  --clr-brand-secondary-5: #fafaff;
  --clr-brand-secondary-30: #e6e8f3;
  --clr-brand-secondary-60: #abb4ec;
  --clr-system-error-reg: #e74c3c;
  --clr-system-success-reg: #24ae5f;
  --clr-text-light: #6e768d;
  --clr-text-disabled: #aeb2bf;
  --clr-text-dark: #0e1339;
  --clr-linear-hover: #18a7d9;
  --clr-divider-light: #e6e8f3;

  --clr-brand-primary-gradient: linear-gradient(
    to right,
    rgba(0, 172, 233, 1),
    rgba(0, 149, 233, 1)
  );
  --clr-brand-primary-gradient-hover: linear-gradient(
    to right,
    #18a7d9,
    #18a7d9
  );

  --ff-primary: "Poppins", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-accent: var(--ff-primary);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.8725rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-600);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-600);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-350: 0.9rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-470: 1.3rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;

  --container-border-radius: 16px;

  --side-panel-drop-shadow: 4px 2px 16px rgba(41, 54, 136, 0.06);
  --container-drop-shadow: 0px 2px 10px 0px rgba(0, 100, 167, 0.1);

  --reg-transition: all 250ms ease-in-out;
  --medium-transition: all 600ms ease-in-out;
  --slow-transition: all 800ms ease-in-out;
}

@media (min-width: 47em) {
  :root {
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);

    --fs-body: var(--fs-500);
    --fs-nav: var(--fs-300);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general styling */
body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-primary-400);
  background-color: var(--clr-base-white);
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 4px;
  position: fixed;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-brand-secondary-30);
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--clr-base-white);
}

.heading-regular {
  color: var(--clr-text-medium);
  font-weight: var(--fw-medium);
  letter-spacing: 0px;
}

.button-label-small {
  color: var(--clr-brand-secondary-60);
  font-weight: var(--fw-semi-bold);
  letter-spacing: 0.8px;
}

.paragraph-body {
  font-size: 14px;
  color: var(--clr-text-medium);
  font-weight: var(--fw-medium);
}
.paragraph-body-light {
  font-size: 14px;
  color: var(--clr-text-light);
  font-weight: var(--fw-medium);
}
.paragraph-body-regular-light {
  font-size: 14px;
  color: var(--clr-text-light);
  font-weight: var(--fw-regular);
}
.paragraph-body-primary {
  color: var(--clr-brand-primary-110);
}

.paragraph-small-text {
  font-size: 12px;
  color: var(--clr-text-light);
  font-weight: var(--fw-medium);
}

.paragraph-small-text-for-chart > * {
  font-size: 12px !important;
  color: var(--clr-text-light) !important;
  font-weight: var(--fw-medium) !important;
  font-family: var(--ff-body);
}

.paragraph-small-text-regular {
  font-size: 12px;
  color: var(--clr-text-medium);
  font-weight: var(--fw-regular);
}
.paragraph-small-text-regular-for-chart > * {
  font-family: var(--ff-body);
  font-size: 12px !important;
  color: var(--clr-text-medium) !important;
  font-weight: var(--fw-regular) !important;
}

.heading-h3 {
  font-size: 32px;
  font-weight: var(--fw-semi-bold);
  color: var(--clr-text-dark);
}

.heading-h4-header {
  font-size: 24px;
  font-weight: var(--fw-semi-bold);
  color: var(--clr-text-dark);
}

.heading-h4 {
  font-size: 18px;
  font-weight: var(--fw-semi-bold);
  color: var(--clr-text-dark);
}

.heading-h5 {
  font-size: 18px;
  font-weight: var(--fw-semi-bold);
  color: var(--clr-text-dark);
}

.heading-h6-regular {
  font-size: 16px;
  font-weight: var(--fw-semi-bold);
  color: var(--clr-text-dark);
}

.heading-h6-regular-light {
  font-size: 16px;
  font-weight: var(--fw-medium);
  color: var(--clr-text-light);
}

.heading-h6 {
  font-size: 16px;
  font-weight: var(--fw-semi-bold);
  color: var(--clr-text-dark);
}

.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}

.button-medium {
  color: var(--clr-base-white);
  font-size: 14px;
  background-image: var(--clr-brand-primary-gradient);
  padding-inline: 32px;
  padding-block: 16px;
  border-radius: 4px;
  letter-spacing: 0.8px;
  font-weight: var(--fw-semi-bold);
  border: none;
  text-transform: uppercase;
  line-height: 1;
  cursor: pointer;
  transition: var(--medium-transition);

  &:hover {
    background: var(--clr-brand-primary-gradient-hover);
  }
}

.demographics-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;

  .demographics-row-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    align-items: stretch;
    gap: 24px;

    & > * {
      box-shadow: var(--container-drop-shadow);
      border-radius: 16px;
      padding: 30px;
    }

    &.one-to-half {
      grid-template-columns: 1fr 0.5fr;
    }
    &.one-to-auto {
      grid-template-columns: 1fr auto;
    }
    &.one-to-sixth {
      grid-template-columns: 1fr 0.6fr;
    }
    &.fourth-to-sixth {
      grid-template-columns: 0.43fr auto;
    }
    &.sixth-to-fourth {
      grid-template-columns: 0.6fr 0.4fr;
    }
  }
}

.flex {
  display: flex;
}

.f-space-between {
  justify-content: space-between;
}

.f-justify-center {
  justify-content: center;
}

.f-align-center {
  align-items: center;
}

.f-gap {
  --gap-spacer: 10px;
  gap: var(--gap-spacer);
}

.f-column {
  flex-direction: column;
}

.h-100 {
  height: 100%;
}

.dash-separated-table {
  overflow-y: auto;
  .item-row {
    display: flex;
    align-items: baseline;
  }

  .item-name {
    .item-image {
      margin-inline: 5px;
    }
  }

  .item-dashes {
    flex-grow: 1;
    border-bottom: 1px dashed var(--clr-divider-light);
  }
}
